@import "react-colorful/dist/index";

$led-size: 2rem;

%bottom-space {
  padding-bottom: 0.8rem;
}

html, body {
  color: #ccc;
  background-color: #222;
  margin: 1rem;
  padding: 0;
}

div.leds {
  @extend %bottom-space;

  > button {
    width: $led-size;
    height: $led-size;
    border-radius: $led-size / 5;
    border: 2px solid #555;

    &:not(:first-child) {
      margin-left: 4px;
    }

    &.active {
      border-color: #999;
    }
  }
}
